<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.imono.jk.mapper.SysRoleResourceMapper">

    <resultMap id="BaseResultMap" type="top.imono.jk.pojo.po.SysRoleResource">
            <id property="resourceId" column="resource_id" jdbcType="TINYINT"/>
            <id property="roleId" column="role_id" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        resource_id,role_id
    </sql>
</mapper>
