<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.imono.jk.mapper.SysUserRoleMapper">

    <resultMap id="BaseResultMap" type="top.imono.jk.pojo.po.SysUserRole">
            <id property="userId" column="user_id" jdbcType="SMALLINT"/>
            <id property="roleId" column="role_id" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,role_id
    </sql>
</mapper>
